# Ignore everything
*

# But not these files...
!.gitignore
#!.htaccess
#!wp-config.php
# etc...

# ...even if they are in subdirectories
#!*/
.htaccess

# if the files to be tracked are in subdirectories
!*/wp-content/plugins/apphosting/*
!*/wp-content/themes/app-hosting/*
!*/wp-content/plugins/apphosting/logs/index.php
!*/wp-content/plugins/apphosting/icons/index.php
!*/wp-content/plugins/apphosting/admin/*

